* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  :root {
    --white: #ffffff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25);
    --transp-white-2: rgba(255, 255, 255, 0.1);
    /* --blue-1: #62b8f5; */
    --blue-1: #D2B48C;
    --blue-2: #4475ef;
    --shadow: rgba(3, 46, 87, 0.2);
  }
  
  body {
    height: 100vh;
    background: var(--blue-1);
  }

  h1, h2, h3, p {
    text-align: center;
  }

  .center {
    margin: auto;
    width: 80%;
    padding: 10px;
    padding-top: 65px;
  }

  .wrapper {
    font-size: 16px;
    margin: 10px;
    position: relative;
  
  }
  .search-container {
    font-size: 1em;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
  }
  .search-container input,
  .search-container button {
    outline: none;
    font-size: 1em;
    border: none;
    color: white;
  }
  .search-container input {
    padding: 0.7em;
    background-color: transparent;
    border-bottom: 2px solid var(--transp-white-1);
    color: var(--white);
    font-weight: 300;
  }
  .search-container input::placeholder {
    color: var(--off-white);
  }
  .search-container input:focus {
    border-color: var(--white);
  }
  .search-container button {
    background-color: #4682B4;
    border-radius: 0.3em;
    
  }

  .search-container button:hover {
    background-color:#5d96c5;
  }
  #result h2 {

    text-transform: uppercase;
    letter-spacing: 0.18em;
    font-weight: 600;
    margin: 15px;
  }
  .weather,
  .desc {
    color: var(--off-white);
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 2em;
  }
  .weather {
    margin-top: -0.7em;
  }

  #result h1 {
    font-size: 4em;
    margin: 0.3em 0 0.7em 0;
    line-height: 0;
    font-weight: 400;
  }
  .msg {
    margin-top: 1.8em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .green {
    background: #6DD96F;
    border-radius: 15px;
    text-align: center;
  }

  .yellow {
    background: #E5DA61;
    border-radius: 15px;
    text-align: center;
  }

  .orange {
    background: #EE9759;
    border-radius: 15px;
    text-align: center;
  }

  .red {
    background: #E66260;
    border-radius: 15px;
    text-align: center;
  }

  .margins {
    margin-bottom: 10px;
  }

  .source {
    font-size: 10px;
    text-align: right;
    padding-right: 5px;
  }
  @media screen and (max-width: 450px) {
    .wrapper {
      font-size: 14px;
    }
  }